<div class="container-fluid mixed-row">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <h5 style="font-size: medium"><strong>Staff Picks</strong></h5>
      <ul class="nav flex-column" style="margin-bottom: 15px">
        <li class="nav-item">
          <a class="nav-link" href="#">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Essential Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New and Noteworthy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Brilliant Bots</a>
        </li>
      </ul>


      <h5 style="font-size: medium"><strong>App Collections</strong></h5>
      <ul class="nav flex-column" style="margin-bottom: 10px">
        <li class="nav-item">
          <a class="nav-link" href="#">Actions</a>
        </li>
      </ul>


      <h5 style="font-size: medium"><strong>Categories</strong></h5>
      <ul class="nav flex-column" style="margin-bottom: 5px">
        <li class="nav-item">
          <a class="nav-link" href="#">Bots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analysts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Communication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Supports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Developer tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">File Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Health and wellness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Security and Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FMedia and News</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-8 categories">
      <form class="sticky-top">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Find a new app, or service you already use">
        </div>
      </form>

      <div class="slack-body">
        <a href="#">
          <img src={{slack_convo}} alt="Los Angeles" style="width: 100%; height: 200px">
        </a>
      </div>
      <div class="slack" style="border: 1px solid #D5D8DC; padding: 15px">
          <h5 style="font-size: medium"><strong>Turn your conversations into actions</strong></h5>
        <p style="color: #6B6D71">Create a task, Comment, or follow-up from any Slack message with actions.
          <a href="#" ><strong>Learn more</strong></a>
        </p>
      </div>


      <div class="row" style="margin-top: 20px">
        <div class="col-sm-4">
          <a href="#">
          <div class="slack-body2" style="background-color: #5B5C5D">
            <a href="#">
              <img src={{click_up}} alt="Los Angeles" style="width: 100%; height: 100px">
            </a>
          </div>
          <div class="slack" style="border: 1px solid #D5D8DC; padding: 5px">
            <h5 style="font-size: medium"><strong>ClickUp</strong></h5>
            <p style="color: #6B6D71">Project Management.</p>
          </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="">
          <div class="slack-body2" style="background-color: #50A1D1 ">
            <a href="#">
              <img src={{soap_box}} alt="Los Angeles" style="width: 100%; height: 100px">
            </a>
          </div>
          <div class="slack" style="border: 1px solid #D5D8DC; padding: 5px">
            <h5 style="font-size: medium"><strong>SoapBox</strong></h5>
            <p style="color: #6B6D71">Communication.</p>
          </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#">
          <div class="slack-body2" style="background-color: #506673">
            <a href="#">
              <img src={{hub_spot}} alt="Los Angeles" style="width: 100%; height: 100px">
            </a>
          </div>
          <div class="slack" style="border: 1px solid #D5D8DC; padding: 5px">
            <h5 style="font-size: medium"><strong>HubSpot</strong></h5>
            <p style="color: #6B6D71">Marketing.</p>
          </div>
          </a>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col-sm-12">
          <label style="font-size: medium"><strong>Essential Apps</strong></label>
          <span  style="float: right"><a href="#">See all</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <div class="category">
              <a class="#">
                <a href="#"><img src={{geek}} alt="Los Angeles" style="width: 30px"></a>
                <span style="margin-left: 15px">
                  <strong>Geekbot</strong><br>
                  <small style="margin-left: 45px"> Productivity</small>
                </span>
              </a>
            </div>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{stand_uply}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Standuply</strong><br>
                <small style="margin-left: 45px"> Productivity</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{zoom}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Zoom</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{cisco}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Cisco Webex meeting</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{drop_box}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Drop box</strong><br>
                <small style="margin-left: 45px"> File manager</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{calender}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Google calender</strong><br>
                <small style="margin-left: 45px"> Office Management</small>
              </span>
            </div>
          </a>
        </div>
      </div>


      <div class="row" style="margin-top: 30px">
        <div class="col-sm-12">
          <label style="font-size: medium"><strong>New & Noteworthy</strong></label>
          <span  style="float: right"><a href="#">See all</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="category">
            <a class="#">
              <a href="#"><img src={{geek}} alt="Los Angeles" style="width: 30px"></a>
              <span style="margin-left: 15px">
                  <strong>Geekbot</strong><br>
                  <small style="margin-left: 45px"> Productivity</small>
                </span>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{stand_uply}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Standuply</strong><br>
                <small style="margin-left: 45px"> Productivity</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{zoom}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Zoom</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{cisco}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Cisco Webex meeting</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{drop_box}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Drop box</strong><br>
                <small style="margin-left: 45px"> File manager</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{calender}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Google calender</strong><br>
                <small style="margin-left: 45px"> Office Management</small>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col-sm-12">
          <label style="font-size: medium"><strong>Brilliant Bots</strong></label>
          <span  style="float: right"><a href="#">See all</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="category">
            <a class="#">
              <a href="#"><img src={{geek}} alt="Los Angeles" style="width: 30px"></a>
              <span style="margin-left: 15px">
                  <strong>Geekbot</strong><br>
                  <small style="margin-left: 45px"> Productivity</small>
                </span>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{stand_uply}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Standuply</strong><br>
                <small style="margin-left: 45px"> Productivity</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{zoom}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Zoom</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{cisco}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Cisco Webex meeting</strong><br>
                <small style="margin-left: 45px"> Communication</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{drop_box}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Drop box</strong><br>
                <small style="margin-left: 45px"> File manager</small>
              </span>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="#">
            <div class="category">
              <img src={{calender}} alt="Los Angeles" style="width: 30px">
              <span style="margin-left: 15px">
                <strong>Nikabot</strong><br>
                <small style="margin-left: 45px"> Office Management</small>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
